<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="~/Admin/HomeAdmin/Index">
            <!-- @if (Session["UserName"] != null)
            {
                <span class="align-middle">@Session["UserName"]</span>
            } -->
        </a>

        <ul class="sidebar-nav">

            <li class="sidebar-item active">
                <a class="sidebar-link" href="/admin">
                    <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                </a>
            </li>


            <li class="sidebar-header">
                QUẢN LÝ SẢN PHẨM
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/category/1">
                    <i class="align-middle" data-feather="square"></i> <span class="align-middle">DANH MỤC</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/Admin/product">
                    <i class="align-middle" data-feather="check-square"></i> <span class="align-middle">SẢM PHẨM</span>
                </a>
            </li>

            <li class="sidebar-header">
                QUẢN LÝ TIN TỨC
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="~/Admin/DanhMucTinTuc/Index">
                    <i class="align-middle" data-feather="grid"></i> <span class="align-middle">DANH MỤC</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="~/Admin/TinTuc/Index">
                    <i class="align-middle" data-feather="align-left"></i> <span class="align-middle">TIN TỨC</span>
                </a>
            </li>

            <li class="sidebar-header">
                QUẢN LÝ HOẠT ĐỘNG
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="~/Admin/DanhSachHoatDong/Index">
                    <i class="align-middle" data-feather="grid"></i> <span class="align-middle">HOẠT ĐỘNG</span>
                </a>
            </li>

            <li class="sidebar-header">
                QUẢN LÝ THÔNG TIN
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="~/Admin/Infomation/Index">
                    <i class="align-middle" data-feather="user"></i> <span class="align-middle">Thông tin</span>
                </a>
            </li>

            <li class="sidebar-header">
                NGƯỜI LIÊN HỆ
            </li>

            <li class="sidebar-item">
    <a class="sidebar-link" href="pages-sign-in.html">
        <i class="align-middle" data-feather="log-in"></i> <span class="align-middle">Sign In</span>
    </a>
</li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="~/Admin/Contact/Index">
                    <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">Người liên hệ</span>
                </a>
            </li>

            <li class="sidebar-item">
    <a class="sidebar-link" href="pages-blank.html">
        <i class="align-middle" data-feather="book"></i> <span class="align-middle">Blank</span>
    </a>
</li>

<li class="sidebar-item">
    <a class="sidebar-link" href="icons-feather.html">
        <i class="align-middle" data-feather="coffee"></i> <span class="align-middle">Icons</span>
    </a>
</li>

<li class="sidebar-header">
    Plugins & Addons
</li>

<li class="sidebar-item">
    <a class="sidebar-link" href="charts-chartjs.html">
        <i class="align-middle" data-feather="bar-chart-2"></i> <span class="align-middle">Charts</span>
    </a>
</li>

<li class="sidebar-item">
    <a class="sidebar-link" href="maps-google.html">
        <i class="align-middle" data-feather="map"></i> <span class="align-middle">Maps</span>
    </a>
</li>
        </ul>

    </div>
</nav>